/*Hides tab bar, title bar, sidebar header, and favorites icon in url bar*/
#TabsToolbar, #titlebar, #sidebar-header, #star-button-box {
  display: none !important;
}

/*Hides status bar, using addon to display urls as tooltips instead*/
#statuspanel {
  display: none !important;
}

#sidebar-panel-header {
  display: none;
}

/*Works better with sidebery*/
#sidebar-box {
  min-width: 30px !important;
  max-width: 350px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border-top-width: 0px !important;;
}

#sidebar-splitter {
    min-width: 6px !important;
    width: 6px !important;
    margin-inline: -3px !important;
    background: transparent !important;
    border: none !important;
    position: relative !important;
    z-index: 10 !important;
}

.browserContainer {
  border-radius: 0 !important;
  border: none !important;
}

/*
Nav bar
Hide and only show on activate
Center
*/
#navigator-toolbox {
  position: absolute !important;
  min-width: fit-content !important;
  max-width: 66vw !important;
  height: fit-content !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  margin-top: 20vh !important;
  z-index: 9999 !important;
  border-radius: 6px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.25s ease !important;
  background-color: #171519;
  min-width: fit-content !important;
  max-width: 66vw !important;
}

#navigator-toolbox {
  //opacity: 1 !important;
  //pointer-events: all !important;
}

#navigator-toolbox:focus-within {
  opacity: 1 !important;
  pointer-events: all !important;
}

#urlbar {
  opacity: 0 !important;
}

#navigator-toolbox:focus-within #urlbar {
  opacity: 1 !important;
  pointer-events: all !important;
}

/* Disable modifications of nav bar when in customization mode */
#main-window[customizing=""] #navigator-toolbox {
  position: static !important;
  display: block !important;
  min-width: auto !important;
  max-width: none !important;
  height: auto !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  margin: 0 !important;
  margin-top: 0 !important;
  z-index: auto !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  pointer-events: all !important;
  transition: none !important;
}

#nav-bar {
  border-radius: 6px !important;
}

browser[blank], browser[pendingpaint] {
	opacity: 1 !important;
}

:root {
    --chrome-block-radius: 0px !important;
    --chrome-window-gap: 0px !important;
}

#sidebar-box,
#sidebar,
#webext-panels-stack,
#webext-panels-browser {
    border-radius: 0 !important;
    clip-path: none !important;
    mask: none !important;
}

#sidebar {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}