/*Hides tab bar, title bar, sidebar header, and favorites icon in url bar*/
#TabsToolbar, #titlebar, #sidebar-header, #star-button-box {
  display: none;
}

/*Hides status bar, using addon to display urls as tooltips instead*/
#statuspanel {
  display: none !important;
}

/*Works better with sidebery*/
#sidebar-box {
  min-width: 30px;
}

/*
Nav bar
Hide and only show on activate
Center
*/
#navigator-toolbox-background {
  position: absolute;
  display: inline;
  max-width: 66vw;
  min-width: 66vw;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20vh;
  z-index: 1;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

#navigator-toolbox-background:focus-within {
  opacity: 1;
  pointer-events: all;
}

#navigator-toolbox {
  width: 100%;
  border-radius: 6px;
}

#nav-bar {
  border-radius: 6px;
  padding-left: 0px;
  left: -20px;
}

toolbarbutton {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
