/*Hides tab bar, title bar, sidebar header, and favorites icon in url bar*/
#TabsToolbar, #titlebar, #sidebar-header, #star-button-box {
  display: none;
}

/*Hides status bar, using addon to display urls as tooltips instead*/
#statuspanel {
  display: none !important;
}

/*Works better with sidebery*/
#sidebar-box {
  min-width: 30px !important;
  width: 131px;
  max-width: 250px;
}

/*
Nav bar
Hide and only show on activate
Center
*/
#navigator-toolbox {
  position: absolute;
  display: inline;
  min-width: fit-content;
  max-width: 66vw;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
  margin: auto;
  margin-top: 20vh;
  z-index: 1;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

#navigator-toolbox:focus-within {
  opacity: 1;
  pointer-events: all;
}

/* Disable modifications of nav bar when in customization mode */
#main-window[customizing=""] #navigator-toolbox {
  position: static !important;
  display: block !important;
  min-width: auto !important;
  max-width: none !important;
  height: auto !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  margin: 0 !important;
  margin-top: 0 !important;
  z-index: auto !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  pointer-events: all !important;
  transition: none !important;
}

#nav-bar {
  border-radius: 6px;
  padding-left: 0px;
}

toolbarbutton {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/**/
browser[blank], browser[pendingpaint] {
	opacity: 1 !important;
}
